body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 20px;
  margin: 0;
  background: white;
}
.logo {
  display: flex;
  flex-grow: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}
.My_Times {
  color: MediumAquamarine;
  margin-left: 10px;
}
.navigation {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
}
.main {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin: 0px 30px;
  padding-top: 50px;

}
.column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-right: 30px;
}

.column.large {
    width: 630px;
    padding-bottom: 100px;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}
.image {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  text-align: center;
  margin-top: 20px;
}
.mother {
  background-image: url(../images/img-story-main.jpg);
  font-size: 40px;

}
.earth {
  justify-content: center;
  background-image: url(../images/img-story-2.jpg);

}
.research {
  justify-content: center;
  background-image: url(../images/img-story-3.jpg);

}
.cats {
  justify-content: center;
  background-image: url(../images/img-story-1.jpg);
}
.headlines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.story  {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.headlines .content {
  height: 250px;
}
.narrative {
  margin-top: 20px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
h2 {

}
a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
div{

}
