.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine
}
nav {
  display: inline-block;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-self: flex-end;
}
